name: Test
run-name: ${{ github.actor }} is running test pipeline
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Go ENV
        uses: actions/setup-go@v5
        with:
          go-version: "1.19"
      - name: Run Test
        run: |
          make test
